body {
    background-color: aqua;
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

header {
    margin: auto;
    background-color: rgba(50, 50, 50, .5);

    height: 60px;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

header h1 {
    width: 50%;
    border: 1px solid red;    
    float: left;
}

header ul {
    height: 60px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 0;
    text-align: right;
}

header li {
    font-size: 15;
    display: inline-block;
}

header li a {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
}

footer {
    background-color: rgba(50, 50, 50, .5);
    padding: 10px;
}